{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="content p-5 col-9 col-md-9">
    {% for skill in category.skills.all %}
    <div id="skill-{{ skill.id }}">
      {{ skill.content | safe }}
      <button
        id="{{ skill.id }}"
        type="button btn-xp"
        class="btn btn-purple"
        onclick="addXP({{ skill.id }})"
      >
        Coletar {{ skill.xp }} XP
        <img
          src="https://img.icons8.com/color/96/000000/treasure-chest.png"
          style="width: 40px"
        />
      </button>
    </div>
    <br /><br /><br />
    {% endfor %}
  </div>
  <div class="vertical-menu col-3 col-md-3">
    {% for skill in category.skills.all %}
    <a href="#skill-{{ skill.id }}" class="active">
      <ul>
        <li>{{ skill.name }}</li>
      </ul>
    </a>
    {% endfor %}
  </div>
  {% csrf_token %}
  <script>
    const csrftoken = document.querySelector(
      "[name=csrfmiddlewaretoken]"
    ).value;
    function addXP(skill_id) {
      const request = new Request(`/skills/${skill_id}/`, {
        headers: { "X-CSRFToken": csrftoken },
      });
      fetch(request, {
        method: "POST",
        mode: "same-origin", // Do not send CSRF token to
      })
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("xp").innerHTML = data.xp;
          document.getElementById("lvl").innerHTML = data.lvl;

          new bootstrap.Modal(
            document.getElementById("modalXP"),
            {}
          ).show();
        });
    }
  </script>
</div>
{% include 'modalXP.html' %} {% endblock %}
