{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="card-purple col col-md-12 p-5">
      <div class="col-md-6 mx-auto">
        <h1>Cursos Gameficados <i class="fas fa-dragon"></i></h1>
        <p>Por que aprender precisa ser divertido!</p>
        <hr class="mt-2" />
        <p>Crie um perfil personalizado para acompanhar sua evolução.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row gy-3">
    <div class="col col-md-6 pt-3 ps-0">
      <div class="card card-orange h-100">
        <div class="card-body">
          <h5 class="card-title">Escolha o tema que deseja estudar</h5>
          <p class="card-text">
            Você pode upar diversas habilidades selecionando uma categoria e
            escolhendo a skill que deseja focar.
          </p>
        </div>
      </div>
    </div>
    <div class="col col-md-6 pt-3 pe-0">
      <div class="card card-green h-100">
        <div class="card-body">
          <h5 class="card-title">Escolha o seu personagem</h5>
          <p class="card-text">
            Você pode selecionar uma dessas opções abaixo para representar o seu
            personagem dentro do nosso site.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% if not user.is_authenticated %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h2>Login</h2>
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group mt-3">
          <label class="label" for="email">E-mail</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="E-mail"
            name="email"
          />
        </div>
        <div class="form-group mt-3">
          <label class="label" for="password">Senha</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Senha"
            name="password"
          />
        </div>
        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-dark" type="submit">Entrar</button>
        </div>
        <h3 class="mt-3">Não possui cadastro?</h3>
      </form>
      <a class="d-grid gap-2" href="{% url 'signUp' %}"
        ><button class="btn btn-pink mt-3" type="submit">Criar conta</button></a
      >
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
