<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" style="width: 300px;">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close btn-pink"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img src="https://img.icons8.com/color/96/000000/treasure-chest.png" />
        <h2>LVL {{ user.lvl }}</h2>
        <h2>XP {{ user.xp }}</h2>
      </div>
    </div>
  </div>
</div>
